.navbar{
    background-color:$primary-brand;
    padding : 1rem 0;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 999;

    ul {
        display: flex;
        justify-content: center;

        li{
            padding-right: 2rem;
            color : $white;
            font: normal normal 600 16px/24px Muli;
        }
        .active{
            border-bottom: 7px solid #FFD07F;
            padding-bottom: 14px;
        }
    }
    .icon{
        text-align: right;
    }
    .cart-icon{
        color: $white;
        span{
            text-align: center;
            font-size: 12px;
            position: absolute;
            top: 8px;
            right: 106px;
            width: 20px;
            height: 20px;
            color:$white;
            background: #FDA65D;
            border-radius: 50%;
        }
    }
    img{
        width: auto;
        height: auto;
    }
    .text-decoration{
        color: $white;
        text-decoration: none;
    }
    .logo{
        display: inline-flex;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .mobile-menu{
        display: block;
      }
    .menu{
        display: none;
    }
    .desktop-logo{
        padding-left: 5rem;
    }
    .navbar .cart-icon span{
        right: 4px;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .mobile-menu{
        display: block;
    }
    .desktop-logo {
        padding-left: 17rem;
    }
    .menu{
        display: none;
    }
    .cart-icon{
        margin-right: -448px;
}
}
@media (min-width: 1024px) and (max-width: 1440px){
    .mobile-menu{
        display: none;
    }  
    .cart-icon{
        margin-left: 73px;
    }
}

