.categories {
    position: relative;
    top: -31px;
}

.categories>div {
    padding-right: 0.5rem;
}

.categories>div :last-child {
    padding-right: 0;
}

.category-info {
    color: $white;
    background-color: $grey-d4;
    text-align: left;
    border-bottom: 0.5rem solid $primary-brand;
    position: relative;
    top: -30px;
    letter-spacing: 0px;
    padding: 17px 0 21px 38px;

    h6 {
        text-align: left;
        font: normal normal 600 24px/30px Source Serif Pro;
        color: #FFFFFF;
    }

    p {
        color: $white;
        text-align: left;
        font: normal normal normal 16px/23px Muli;
        letter-spacing: 0.32px;

    }
}

.category-img {
    height: 150px;
}

.categories-data {
    background-color: $white;
}
