.signature-banner-container {
    margin: 0 0 3rem;
}

.signature-banner-content {
    text-align: left;
    color: $dark-gunmetal-A1;
    padding-left: 2.813rem;
    letter-spacing: 0px;

    h1 {
        max-width: 441px;
        padding-bottom: 0.5rem;
        font: normal normal 600 48px/60px Source Serif Pro;
    }

    strong {
        font: normal normal 600 20px/25px Muli;
    }

    p {
        max-width: 631px;
        padding: 1rem 0 1.5rem;
        font: normal normal normal 16px/24px Muli;
    }

    .btn_collection {
        background-color: transparent;
        color: $primary-brand;
        width: 221px;
        height: 40px;
        border: 1px solid $primary-brand;
        margin-right: 2.078rem;
    }

    .border-div {
        background-color: $primary-brand;
        height: 8px;
        margin-top: 3.5rem;
        width: 102px;
    }
}

.banner-image {
    img {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .signature-banner-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .signature-banner-content{
        text-align: center;
        padding: 0;
        h1{
            font: normal normal 600 36px/45px Source Serif Pro;
        }
        .btn_collection {
            margin:24px 0;
        }
    }
    .border-div {
        margin: 2rem auto 0;
    }
}